@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-color-secondary px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
}
.cardBtn{
    @apply w-full py-3 px-9 bg-color-primary-dark rounded-md capitalize font-bold cursor-pointer hover:bg-color-secondary ease-in duration-200;
}
.title{
    @apply font-bold leading-snug;
}

.card{
    @apply border-2 border-solid border-color-gray text-center py-20 px-5 rounded-2xl cursor-pointer hover:bg-color-primary-dark ease-in duration-200;
}

.blob1{
    @apply w-80 h-80 bg-color-bolb absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.blob2{
    @apply w-80 h-80 bg-color-secondary absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}
.user-text{
    display: none;
}
.user-image.active-image{
    border: 2px solid #fb8500; 
}

.user-text.active-text{
    display: block;
    animation: moveup 1s linear forwards;
}

.user-image{
    transition:all o.2s ease;
}

@keyframes moveup {
    0% {
        margin-top: 40px;
        opacity: 0;
    }

    50% {
        margin-top: 20px;
        opacity: 0.1;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.distCard{
    perspective: 10000px;
}

.front,.back{
    backface-visibility: hidden;
    transition: all 0.4s ease;
}
.front{
    overflow: hidden;
}
